/* add your CSS here */
.image {
    width: 300px;
  }
  
  .border {
    border: 2px outset red;
    padding: 10px;
    box-shadow: 10px 10px;
    background-color: lightgray;
  }
    
  .fact {
    font-style: italic;
  }
  
  .bullet {
    list-style: none;
  }
  
  .border2 {
    border: 2px inset red;
    padding: 10px;
    margin-top: 10px;
    background-color: lightgray;
  }
  
  .interest {
    font-weight: bold;
  }
  
  body {
    width: 340px;
  }