@import url("blog.css");

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid purple;
    margin: 10px;
    padding: 10px 20px;
}

.navigation-links {
    list-style: none;
    display: flex;
}

.navigation-links li {
    margin-right: 20px;
}

h6 {
    font-family: sans-serif;
    font-size: 10px;
    color: #444;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0
}

@media (min-width: 768px) {
    main {
        grid-template-columns: 2fr 1fr;
    }
}

@media (min-width: 1024px) {
    main {
        grid-template-columns: 3fr 1fr;
    }
}